body {
    background-image: url("https://picsum.photos/id/110/1000/1000");
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover; 
    margin:0px;
}
#header, .nav > a,#hero, #cta{
        color:white;
} 
    #header {
    Background-color:#DA973F;
    
} 
 a {
     text-decoration: none; 
a:hover {
    text-decoration:underline;
} 
 
 
} 
 #hero {
    font-size:22px;
    
 }

 #cta {
    background-color:#DA973F; 
    text-decoration: none;
 } 

 #cta:hover {
    background-color: white;
    color: #ffc12f;
 }

 #services{
    background-color:#eec084:
 } 
 .card{
    background-color:white;
    width:fit-content;
 }
